* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------*/
.feedback-button, .choose-button, .watch-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  width: 298px;
  height: 54px;
  color: #fff;
  background-color: #FE9013;
  text-align: center;
  text-transform: uppercase;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.active {
  color: #F9804B;
}

.main-container {
  width: 1600px;
  height: 100vh;
  background-image: url(../../assets/images/Panda\ bg\ Desktop\ Main.png);
  background-repeat: no-repeat;
  background-position: center -2px;
  background-size: 1650px cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.header-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  color: #fff;
}

h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.logo {
  display: flex;
  align-items: center;
  width: 82px;
  height: 52px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 1px solid #FFF;
}

.logo-bambook {
  position: absolute;
  left: 10px;
  bottom: 6px;
}

.navigation-bar {
  width: 47.2820512821%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 68px;
}

.header-navigation {
  width: 83.8793103448%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.watch-animal-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
}

.watch-animal-container {
  width: 47.4137931034%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch-button {
  border-radius: 25px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.watch-text-container {
  position: relative;
  z-index: 2;
}

.watch-tittle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 107px;
  line-height: 75%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
}

.text-selected {
  color: #FFEE2E;
}

.circle {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 105px;
  width: 40.0862068966%;
  height: 66.2337662338%;
  background-color: #FE9013;
  border-radius: 50%;
}

.bambook-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 40.0862068966%;
  height: 60.1659751037%;
}

.backstage-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 723px;
  width: 100%;
  color: #333B41;
  padding-bottom: 40px;
}

.tittle-backstage {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}

.text-backstage {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.subtitle-backstage {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 54px 0 34px 0;
}

.pets-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1106px;
  width: 115%;
}

.pets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.pets-card-elements {
  width: 1160px;
  height: 872px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 20px;
}

.choose-button {
  border-radius: 25px;
  margin-top: 10px;
}

.slide-button {
  width: 62px;
  height: 62px;
  background-color: #FE9013;
  border-radius: 100%;
}

.about-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 12px 0 16px;
}

.arrow-right {
  transform: rotate(180deg);
}

.card-container {
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--2, #FA6F32);
}
.card-container:nth-child(-n+3) {
  margin-bottom: 20px;
}

.kind-animal {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16;
  line-height: 140%;
  text-transform: uppercase;
}

.geographical-place {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15;
  line-height: 120%;
}

.pick-and-feed-section {
  width: 1600px;
  height: 1005px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.pick-and-feed-container {
  width: 1160px;
  height: 835px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  color: #333B41;
}

.pick-and-feed-text {
  width: 100%;
  height: 45.1497005988%;
}

.pick-and-feed-icons {
  width: 100%;
  height: 29.2215568862%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.tittle-feed {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 48px;
  color: #FE9013;
  text-align: center;
  line-height: 120%;
  margin-bottom: 30px;
}

.subtittle-feed {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-left: 100px;
  margin-bottom: 40px;
}

.feed-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-left: 100px;
}
.feed-text:first-of-type {
  margin-bottom: 10px;
}
.feed-text:nth-of-type(2) {
  margin-bottom: 60px;
}

.heading-feed {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.feed-card-container {
  height: 100%;
  width: 168px;
}

.feed-card {
  height: 168px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #F9804B;
  background-color: #fff;
  margin-bottom: 30px;
}

.feet-card-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.vector-container {
  height: 100%;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 62px;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 919px;
  padding-bottom: 50px;
}

.heading-testimonials {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 10px;
}

.container-testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
}

.feedback-button {
  border-radius: 5px;
  margin-top: 30px;
}

.progress-bar {
  width: 51.724137931%;
  height: 8px;
  margin-left: 24.1379310345%;
  background: #F5F7F6;
  -webkit-appearance: none;
  appearance: none;
}
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 116px;
  height: 6px;
  background: #FE9013;
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
