
$white-color: #fff;
$hover-color: #E47209;
$default-state-color: #FE9013;
$active-state-color: #4B9200;
$disabled-state-color: #767474;
$black-blue-color: #333B41;
$small-desktop: 1000px;
$tablet:  640px;
$mobile: 320px;
//npx sass --watch assets/styles/style.scss:pages/main/style.css


// @include flex($d,$fd,$jc,$ai);
@mixin flex($d,$fd,$jc,$ai) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}


//  @include font($ff,$fw,$fs);
@mixin font($ff,$fw,$fs) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
}

//@extend %tpl-button;
%tpl-button{
  @include font('Roboto',500,16px);
  width: 298px;
  height: 54px;
  color: $white-color;
  background-color: $default-state-color;
  text-align: center;
  text-transform: uppercase;
}


