@import "nullstyle.scss";
@import "modules.scss";
@import "fonts.scss";

body{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0; 
  height: 100vh;
}

.active{
  color: #F9804B;
}

.main-container{
  max-width: 1600px;
  height: 100vh;
  background-image: url(../../assets/images/Panda\ bg\ Desktop\ Main.png);
  background-repeat: no-repeat;
  background-position: center -2px;
  background-size: 100%;
  position: relative;
}

.bg-flower{
  position: absolute;
  right: 0;
  top: 780px;
}

.bg-palm-leaf{
  position: absolute;
  left: 0;
  top: 2150px;
}

.bg-strelitzia{
  position: absolute;
  right: 0;
  top: 2335px;
}

.bg-leaf{
  position: absolute;
  right: 0;
  top: 4260px;
}

header{
  width: 100%;
  max-width: 1600px;
  height: 80px;
  @include flex(flex,row,center,center);
  background-color: #000;
}

.header-container{
  width: calc(1160 /1600 *100%);
  max-width: 1160px;
  margin: 0 auto;
  @include flex(flex,row,space-between,center);
  @include font("Roboto",500,16px);
  line-height: 140%;
  font-style: normal;
  color: $white-color;
}

h1,.footer-logo-tittle{
  @include font("Roboto",400,19px);
  line-height: 120%;
}

.logo{
  @include flex(flex,column,center,center);
  max-width: 82px;
  width: 82px;
  height: 52px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 1px solid $white-color;
}

.logo-bambook{
  position: absolute;
  left: 10px;
  bottom: 6px;
}

.navigation-bar{
  width: calc(461 / 975 *100%);
  @include flex(flex,row,space-between,center);
  margin-left: 68px;
  li:hover{
    transition: 0.7s;
    text-decoration: underline;
    color: $hover-color;
  }
}

.header-navigation{
  width: calc(973 / 1160 *100%);
}

main{
  width: 100%;
  max-width: 1600px;
  @include flex(flex,column,start,center);
  margin: 0 auto;
}

.watch-animal-section{
  width: calc(1160 /1600 *100%);
  height: 700px;
  @include flex(flex,row,end,center);
  position: relative;
}

.watch-animal-container{
  width: calc(550 / 1160 * 100%);
  height: 100%;
  max-height: 700px;
  @include flex(flex,column,center,center);
}

.watch-button{
  @extend %tpl-button;
  border-radius: 25px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 50px;
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.watch-text-container{
  position: relative;
  z-index: 2;
}

.watch-tittle{
  text-align: center;
  @include font("Roboto",700,107px);
  line-height: 75%;
  color: $white-color;
  text-transform: uppercase;
  margin-left: 50px;
}

.text-selected{
  color: #FFEE2E;
}

.circle{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: calc(105 / 1160 * 100%);
  width: calc( 465 / 1160 * 100%);
  height: calc(510 / 770 * 100%);
  background-color: $default-state-color;
  border-radius: 50%;
}

.backstage-section{
  width: calc(1160 /1600 *100%);
  @include flex(flex,row,space-between,center);
  height: 723px;
  color: $black-blue-color;
  padding-bottom: 40px;
}

.bambook-image-container{
  width: calc(609 / 1160 * 100%);
  max-width: 609px;
}

.bamboo-cap-image{
  width: 100%;
  max-width: 609px;
}

.bambook-text-container{
  width: calc( 465 / 1160 * 100%);
  height: calc(435 / 723 * 100%);
  @include flex(flex,column,flex-start,left);
}

.tittle-backstage{
  @include font("Roboto",400,48px);
  line-height: 120%;
  margin-bottom: 20px;
}

.text-backstage{
  @include font("Roboto",400,16px);
  line-height: 140%;
}

.subtitle-backstage{
  @include font("Roboto",400,24px);
  line-height: 120%;
  margin: 54px 0 34px 0;
}

.pets-section{
  width: 100%;
  max-width: 1600px;
  height: 1106px;
  @include flex(flex,column,flex-start,center);
}

.pets-container{
  width: calc(1322 / 1600 *100%);
  height: calc(872 / 1106 * 100%);
  position: relative;
  max-width: 1322px;
  margin-bottom: 5.2%;
  @include flex(flex,row,center,flex-start);
  /* margin-bottom: 70px; */
}

.pets-card-elements{
  width: calc(1160 /1322 *100%);
  height: calc(872 / 872 * 100%);
  max-height: 872px;
  @include flex(flex,row,space-between,start);
  flex-wrap: wrap;
  margin: 0 20px;
}

.card-container{
  width: calc(366 / 1160 * 100%);
  height: calc(426 / 872 * 100%);
  border-radius: 5px;
  border: 1px solid var(--2, #FA6F32);
  position: relative;
  &:nth-child(-n + 3){
    margin-bottom: 20px;
  }
  &:hover{
    overflow: hidden;
    .image-pets{
      cursor: pointer;
      filter: brightness(0.4);
      transition: all 0.9s ease-out;
      transform: scale(1.1);
    }

    .kind-animal{
      transition: all 0.7s ease-out;
      position: absolute;
      top: 20px;
      color: #fff;
    }

    .geographical-place{
      transition: all 0.7s ease-out;
      position: absolute;
      top: 40px;
      color: $default-state-color;
    }
  }
}

.choose-button{
  @extend %tpl-button;
  border-radius: 25px;
/*   margin-top: 10px;
 */ 
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.slide-button{
  width: 62px;
  height: 62px;
  position: absolute;
  top: 46%;
  left: 0;
  background-color: $default-state-color;
  border-radius: 100%;
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.right-slide-button{
  position: absolute;
  top: 46%;
  left: 95.3%;
}

.about-image-container{
  @include flex(flex,row,space-between,center);
  margin: 8px 12px 0 16px;
}

.arrow-right{
  transform: rotate(180deg);
}

.image-pets{
  width: calc(366 / 366 *100%);
  height: calc(366 / 426 *100%);
  max-width: 366px;
  transition: filter 0.3s;
}

.kind-animal{
  @include font("Roboto",500,16);
  line-height: 140%;
   text-transform: uppercase;
}

.geographical-place{
  @include font("Roboto",300,15);
  line-height: 120%;
}

.pick-and-feed-section{
  width: 100%;
  max-width: 1600px;
  height: 1005px;
  padding-bottom: 20px;
  @include flex(flex,row,center,center);
  background: linear-gradient(315.75deg,rgba(254,210,144,.7) 30.06%,#febdab 100.95%,rgba(254,210,144,.7) 106.36%),linear-gradient(315.75deg,rgba(254,189,171,.74) 30.06%,rgba(243,169,248,.66) 50.74%,#e0d8f0 80.49%,#eaf7fe 127.9%,#eaf7fe 149.54%),linear-gradient(315.75deg,rgba(254,189,171,.74) 30.06%,rgba(243,169,248,.66) 50.74%,#e0d8f0 80.49%,#eaf7fe 127.9%,#eaf7fe 149.54%);
}

.pick-and-feed-container{
  width: calc(1160 /1600 *100%);
  height: 835px;
  @include flex(flex,column,center,center);
  background: rgba(253,253,255,.52);
  border-radius: 20px;
  color: $black-blue-color;
}

.pick-and-feed-text{
  width: 100%;
  height: calc( 377 / 835 * 100%);
}

.pick-and-feed-icons{
  width: 100%;
  height: calc( 244 / 835 * 100%);
  @include flex(flex,row,center,center);
  margin-bottom: 50px;
}

.button-feed{
  @include flex(flex,row,center,center);
  margin-bottom: 25px;
  cursor: pointer;
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.tittle-feed{
  @include font("Roboto",400,48px);
  color: $default-state-color;
  text-align: center;
  line-height: 120%;
  margin-bottom: 30px;
}

.subtittle-feed{
  @include font("Roboto",400,24px);
  line-height: 120%;
  margin-left: 100px;
  margin-bottom: 40px;
}

.feed-text{
  @include font("Roboto",500,16px);
  line-height: 130%;
  margin-left: 100px;
  &:first-of-type{
    margin-bottom: 10px;
  }
  &:nth-of-type(2){
    margin-bottom: 60px;
  }
}


.heading-feed{
  @include font("Roboto",400,36px);
  line-height: 130%;
  text-align: center;
}

.feed-card-container{
  height: 100%;
  width: 168px;
}

.feed-card{
  height: 168px;
  width: 100%;
  @include flex(flex,row,center,center);
  border-radius: 5px;
  border: 1px solid #F9804B;
  background-color: $white-color;
  margin-bottom: 30px;
}

.feet-card-text{
  @include font("Roboto",400,16px);
  line-height: 140%;
}

.vector-container{
  height: 100%;
  width: 130px;
  @include flex(flex,column,flex-start,center);
  padding-top: 62px;
}

.testimonials-section{
  width: calc(1160 /1600 *100%);
  @include flex(flex,column,center,left);
  height: 919px;
  padding-bottom: 50px;
}

.container-testimonials{
  @include flex(flex,row,space-between,center);
  width: 100%;
  max-width: 1160px;
  margin-bottom: 18px;
}

.testimonials-images{
  width: calc(268 / 1160 *100%);
}

.heading-testimonials{
  @include font("Roboto",400,36px);
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 10px;
}

.feedback-button{
  @extend %tpl-button;
  border-radius: 5px;
  margin-top: 30px;
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.custom-range{
  width: 100%;
  @include flex(flex,row,center,center);
}

.progress-bar{
  width: calc(600 / 1160 *100%);
  height: 8px;
  margin-left: 0;
  background: #F5F7F6;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
 
  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 116px; 
    height: 6px; 
    background: $default-state-color; 
    border: none; 
    border-radius: 5px;
  }
}

footer{
  width: 100%;
  max-width: 1600px;
  height: 443px;
  @include flex(flex,row,center,center);
  background-color: #000;
}

.footer-container{
  width: calc(1160 / 1600 *100%);
  height: 360px;
  @include flex(flex,column,flex-start,left);
  flex-wrap: wrap;
}

.footer-logo{
  @include flex(flex,column,center,center);
  width: 82px;
  height: 52px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 1px solid $white-color;
  color: $white-color;
}

.button-footer{
  margin-top: 70px;
  @extend %tpl-button;
  border-radius: 5px;
  &:hover{
    transition: 0.5s;
    background-color: $hover-color;
  }
}

.social-media-container{
  @include flex(flex,row,flex-start,start);
  height: 134px;
  margin-top: 44px;
}

.social-media-icons{
  height: 100%;
  @include flex(flex,column,space-between,start);
}

.social-circle{
  width: 26px;
  height: 26px;
  @include flex(flex,column,center,center);
  background-color: #c4c4c480;
  border-radius: 100%;
  transition: all 0.7s;
  &:hover{
    cursor: pointer;
    background-color: $active-state-color;
  }
}

.social-media-tittle-container{
  height: 100%;
  @include flex(flex,column,space-around,start);
  margin-left: 12px;
}

.social-media-tittle{
  @include font("Roboto",400,16px);
  line-height: 140%;
  color: $white-color;
}

.footer-navigation{
  @include flex(flex,row,center,flex-end);
  width: calc(362 / 1160 *100%);
  height: 360px;
  margin-left: 85px;
  padding-bottom: 10px;
}

.footer-navigation-bar{ 
  width: 100%;
  @include flex(flex,row,space-between,center);
  color: $white-color;
  @include font("Roboto",400,16px);
  line-height: 140%;
  li:hover{
    cursor: pointer;
    transition: 0.7s;
    text-decoration: underline;
    color: $hover-color;
  }
}

.subscribe-container{
  max-width: 40%;
  height: 100%;
  @include flex(flex,column,space-between,end);
}

.tittle-form{
  @include font("Roboto",400,24px);
  line-height: 120%;
  color: $white-color;
  margin: 0 0 15px;
}

.button-subscribe{
  width: 129px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid var(--Green, #4B9200);
  background: var(--gray_light, #F1F3F2);
  color: var(--Green, #4B9200);
  @include font("Roboto",400,16px);
  line-height: 140%;
  cursor: pointer;
  margin-left: 5px;
  &:hover{
    color: $black-blue-color;
    border: 1px solid var(--Green, $black-blue-color);
  }
}

.input-email{
  width: 228px;
  height: 42px;
  @include font("Roboto",400,16px);
  line-height: 140%;
  color: var(--Gray-4, #BDBDBD);
  background: #000;
  padding-left: 10px;
  border-radius: 2px;
  border: 0.7px solid var(--orange, #F9804B);
}

.footer-sign{
  @include font("Roboto",100,16px);
  line-height: 130%;
  color: rgba(255, 255, 255, 1);
  p {
    &:nth-child(2) {
      margin-top: 20px;
    }
  }
}