@import "nullstyle.scss";
@import "modules.scss";
@import "fonts.scss";

body{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0; 
  height: 100vh;
}

.active{
  color: $hover-color;
}

.main-container{
  width: 1600px;
  height: 100vh;
  background-image: url(../../assets/images/Panda\ bg\ Desktop\ Main.png);
  background-repeat: no-repeat;
  background-position: center -2px;
  background-size: 1650px cover;
}

.container{
  @include flex(flex,column,center,center);
  max-width: 1160px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 80px;
  @include flex(flex,row,center,center);
  background-color: #000;
}

.header-container{
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  @include flex(flex,row,space-between,center);
  @include font("Roboto",500,16px);
  line-height: 140%;
  font-style: normal;
  color: $second-color;
}

h1{
  @include font("Roboto",400,19px);
  line-height: 120%;
}

.logo{
  display: flex;
  align-items: center;
  width: 82px;
  height: 52px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 1px solid #FFF;
}

.logo-bambook{
  position: absolute;
  left: 10px;
  bottom: 6px;
}

.navigation-bar{
  width: calc(461 / 975 *100%);
  @include flex(flex,row,space-between,center);
  margin-left: 68px;
}

.header-navigation{
  width: calc(973 / 1160 *100%);
}

main{
  @include flex(flex,column,space-between,center);
  width: 100%;
  margin: 0 auto;
}

.watch-animal-section{
  @include flex(flex,row,end,center);
  height: 700px;
  width: 100%;
  position: relative;
}

.watch-animal-container{
  width: calc(550 / 1160 * 100%);
  height: 100%;
  @include flex(flex,column,center,center);
}

.watch-button{
  @extend %tpl-button;
  border-radius: 25px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.watch-text-container{
  position: relative;
  z-index: 2;
}

.watch-tittle{
  @include font("Roboto",700,107px);
  line-height: 75%;
  text-align: center;
  color: $second-color;
  text-transform: uppercase;
  margin-left: 50px;
}

.text-selected{
  color: #FFEE2E;
}

.circle{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 105px;
  width: calc( 465 / 1160 * 100%);
  height: calc(510 / 770 * 100%);
  background-color: $default-state-color;
  border-radius: 50%;
}

.bambook-text-container{
  @include flex(flex,column,flex-start,left);
  width: calc( 465 / 1160 * 100%);
  height: calc(435 / 723 * 100%);
}

.backstage-section{
  @include flex(flex,row,space-between,center);
  height: 723px;
  width: 100%;
  color: $black-blue-color;
  padding-bottom: 40px;
}

.tittle-backstage{
  @include font("Roboto",400,48px);
  line-height: 120%;
  margin-bottom: 20px;
}

.text-backstage{
  @include font("Roboto",400,16px);
  line-height: 140%;
}

.subtitle-backstage{
  @include font("Roboto",400,24px);
  line-height: 120%;
  margin: 54px 0 34px 0;
}

.pets-section{
  @include flex(flex,column,flex-start,center);
  height: 1106px;
  width: 115%;
}

.pets-container{
  @include flex(flex,row,space-between,center);
  margin-bottom: 70px;
}

.pets-card-elements{
  width: 1160px;
  height: 872px;
  @include flex(flex,row,space-between,start);
  flex-wrap: wrap;
  margin: 0 20px;
}

.choose-button{
  @extend %tpl-button;
  border-radius: 25px;
  margin-top: 10px;
}

.slide-button{
  width: 62px;
  height: 62px;
  background-color: $default-state-color;
  border-radius: 100%;
}

.about-image-container{
  @include flex(flex,row,space-between,center);
  margin: 8px 12px 0 16px;
}

.arrow-right{
  transform: rotate(180deg);
}

.card-container{
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--2, #FA6F32);
  &:nth-child(-n + 3){
    margin-bottom: 20px;
  }
}

.kind-animal{
  @include font("Roboto",500,16);
  line-height: 140%;
   text-transform: uppercase;
}

.geographical-place{
  @include font("Roboto",300,15);
  line-height: 120%;
}

.pick-and-feed-section{
  width: 1600px;
  height: 1005px;
  padding-bottom: 20px;
  @include flex(flex,row,center,center);
  background: linear-gradient(315.75deg,rgba(254,210,144,.7) 30.06%,#febdab 100.95%,rgba(254,210,144,.7) 106.36%),linear-gradient(315.75deg,rgba(254,189,171,.74) 30.06%,rgba(243,169,248,.66) 50.74%,#e0d8f0 80.49%,#eaf7fe 127.9%,#eaf7fe 149.54%),linear-gradient(315.75deg,rgba(254,189,171,.74) 30.06%,rgba(243,169,248,.66) 50.74%,#e0d8f0 80.49%,#eaf7fe 127.9%,#eaf7fe 149.54%);
}

.pick-and-feed-container{
  width: 1160px;
  height: 835px;
  @include flex(flex,column,center,center);
  background: rgba(253,253,255,.52);
  border-radius: 20px;
  color: $black-blue-color;
}

.pick-and-feed-text{
  width: 100%;
  height: calc( 377 / 835 * 100%);
}

.pick-and-feed-icons{
  width: 100%;
  height: calc( 244 / 835 * 100%);
  @include flex(flex,row,center,center);
  margin-bottom: 50px;
}

.button-feed{
  @include flex(flex,row,center,center);
  margin-bottom: 25px;
}

.tittle-feed{
  @include font("Roboto",400,48px);
  color: $default-state-color;
  text-align: center;
  line-height: 120%;
  margin-bottom: 30px;
}

.subtittle-feed{
  @include font("Roboto",400,24px);
  line-height: 120%;
  margin-left: 100px;
  margin-bottom: 40px;
}

.feed-text{
  @include font("Roboto",500,16px);
  line-height: 130%;
  margin-left: 100px;
  &:first-of-type{
    margin-bottom: 10px;
  }
  &:nth-of-type(2){
    margin-bottom: 60px;
  }
}


.heading-feed{
  @include font("Roboto",400,36px);
  line-height: 130%;
  text-align: center;
}

.feed-card-container{
  height: 100%;
  width: 168px;
}

.feed-card{
  height: 168px;
  width: 100%;
  @include flex(flex,row,center,center);
  border-radius: 5px;
  border: 1px solid $hover-color;
  background-color: $second-color;
  margin-bottom: 30px;
}

.feet-card-text{
  @include font("Roboto",400,16px);
  line-height: 140%;
}

.vector-container{
  height: 100%;
  width: 130px;
  @include flex(flex,column,flex-start,center);
  padding-top: 62px;
}

.testimonials-section{
  @include flex(flex,column,center,left);
  width: 100%;
  height: 919px;
  padding-bottom: 50px;
}

.heading-testimonials{
  @include font("Roboto",400,36px);
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 10px;
}

.container-testimonials{
  @include flex(flex,row,space-between,center);
  width: 100%;
  margin-bottom: 18px;
}

.feedback-button{
  @extend %tpl-button;
  border-radius: 5px;
  margin-top: 30px;
}

.progress-bar{
  width:calc(600 / 1160 *100%);
  height: 8px;
  margin-left: calc(280 /1160 * 100%);
  background: #F5F7F6;
  -webkit-appearance: none;
  appearance: none;
 
  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 116px; 
    height: 6px; 
    background: $default-state-color; 
    border: none; 
    border-radius: 5px;
  }
}